{erl_opts, [debug_info]}.
{deps, [
  {jsone, {git, "https://github.com/sile/jsone.git"}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.14.2"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.16.0"}}},
  {gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.2.0"}}},
  {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.5"}}},
  {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}},
  {emqtt, {git, "https://github.com/emqx/emqtt.git", {tag, "1.13.8"}}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [wanaka_security_system]}
]}.
